{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "ie >= 9"]
        }
      }
    ],
    "react"
  ],
  "plugins": [//插件的顺序可能会带来问题
    "transform-class-properties",
    "transform-es2015-arrow-functions",
    "transform-object-rest-spread",
    "react-hot-loader/babel"
  ]
}