header {
  background: #578ae3;
}

.imglogo {
  width:125px;
  padding: 0 20px;
  img {
    width:100%;
    border-radius: 10px;
  }
}
.textlogo {
  font-size:56px;
  color:#fff;
  margin:0;
}
.nav {
  li{
    float: right;
    font-size: 26px;
  }
  a{
    color:#fff;
    padding: 5px 20px;

    &:hover{
      background: #1a5dd2;
      color: #e9cd4c;
    }
  }
  .active{
    color:#e9cd4c;
  }
}