.archive{
  li{
    line-height:30px;

  }
  .time{
    padding-right:5%;
  }

  .title{
    width: 70%;
    display: inline-block;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    vertical-align: bottom;
  }
}